  html, body {
    min-height: 100%;
    margin: 0;
  }
  body{
    height: auto;
    
  }
  .all_container{
    min-height: 100vh;
    background-color: #1f2937; /* dark gray/blue */
color: white; /* make text readable */
  }
.title{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.table_label{
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.header_row{
    background-color: rgb(0, 98, 255);
}
th, td{
  border: 1px solid #000000;
  text-align: center;
  font-size: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}