  html, body {
    min-height: 100%;
    margin: 0;
  }
  body{
    height: auto;
    
  }
  .all_container{
    min-height: 100vh;
    background-color: #1f2937; /* dark gray/blue */
color: white; /* make text readable */
  }
.title{
    font-size: 50px;
    text-align: center;
}
.fl{
  display: flex;
  justify-content: space-between;
}
.game_container{
    text-align: center;
    margin-left: 10%;
    margin-bottom: 20px;
    border: 3px solid rgb(254, 254, 255);
    width: 33%;
    padding: 10px;
}
.games_container{
    display: flex;
    flex-wrap: wrap;
}
.scores{
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team_img{
    width: 70px;
    height: 70px;
    
}
.break{
    flex-basis: 100%;
    height: 0;
}
.smaller{
    font-size: 35px;
}
.button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  background-color: rgb(0, 98, 255);
  color: white;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  top: 10px;
}
.week_header{
  font-size: 40px;
  position: relative;
  bottom: 10px;
}