  html, body {
    min-height: 100%;
    margin: 0;
  }
  body{
    height: auto;
    
  }
.all_container{
    min-height: 100vh;
    background-color: #1f2937; /* dark gray/blue */
color: white; /* make text readable */
}
.title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.graph_header_button, .selected_graph_header_button{
    width: 200px;
  height: 50px;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: rgb(0, 98, 255);
  color: white;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
}
.graph_header_button:hover{
    font-weight: bold;
}
.selected_graph_header_button{
    font-weight: bolder;
    text-decoration:underline;
}
.button_container{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}