  html, body {
    min-height: 100%;
    margin: 0;
  }
  body{
    height: auto;
  }
  .all_container{
    min-height: 100vh;
    background-color: rgb(34, 97, 255);
  }
  .title{
    margin: 0;
      font-size: 45px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      background-color: rgb(0, 0, 0);
      color: white;
  }

  .navbar a{
    border: 2px solid transparent;
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-right: 20px;
  }
  .navbar ul{
    list-style-type: none;
    background-color: rgb(38, 47, 61);
    padding: 0px;
    margin: 0;
    overflow: hidden;
  }
  .navbar a:hover{
    border-color: white;

  }
  .navbar li{
    
    float:left;
  }
  .team_img{
    width: 70px;
    height: 70px;
    
  }
  .scores{
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .game_container{
    text-align: center;
    margin-left: 10%;
    margin-bottom: 20px;
    border: 3px solid rgb(254, 254, 255);
    width: 33%;
    padding: 10px;
  }
  .games_container{
    display: flex;
    flex-wrap: wrap;
  }
  .break{
    flex-basis: 100%;
    height: 0;
  }
  .smaller{
    font-size: 35px;
  }
  .recent_header{
    font-size: 45px;
    text-align: center;
    color: white;
    text-decoration:underline;
  }