  html, body {
    min-height: 100%;
    margin: 0;
  }
  body{
    height: auto;
    
  }
  .all_container{
    min-height: 100vh;
    background-color: #1f2937; /* dark gray/blue */
color: white; /* make text readable */
  }

.title{
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.table_label{
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
.header_row{
    background-color: rgb(0, 98, 255);
}
th, td{
  border: 1px solid #000000;
  text-align: center;
  font-size: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
a{
  text-decoration: underline;
  cursor: pointer;
  color: rgb(23, 171, 234)
}
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* darken everything else */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensures it's on top */
}

.modal_content {
  position: relative;
  background: rgb(34, 33, 33);
  padding: 2rem;
  border-radius: 8px;
  width: 460px;
  color: white;
  min-height: 425px;
}
.x_button{
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  cursor: pointer;
}